header{
     background: {
        image: url('/images/bg-empresa.png');
        repeat: no-repeat;
        size: cover;
        position: center;
    }

    min-height: 100vh;

    .logo{
        width: 142px;
    }

    .header{
        width: 170px;
        transition: 0.5s all;

        @include media-breakpoint-down(md){
            top: -76px;
            left: -77px;
        }

        @include media-breakpoint-up(md){
            top: -84px;
            right: -9px;
        }
    }

    h1{
        font-size: 35px;
        transition: .5s all;

        @include media-breakpoint-up(lg){
            width: 71%;
            font-size: 40px;
            padding-top: 10rem !important;
        }

        @include media-breakpoint-up(xl){
            width: 88%;
            font-size: 45px;
            padding-top: 37% !important;
        }

        @include media-breakpoint-up(xxl){
            &.pt-5{
                padding-top: 42% !important;
            }
        }
    }

    p{
        font-size: 14px;

        @include media-breakpoint-up(lg){
            font-size: 18px;
        }
    }

    .btn{
        background-color: #fff;
        color: #1C86AF;
        font: {
            size: 17px;
            weight: 600;
        }

        padding: 11px {
            left: 20px;
            right: 20px;
        }

        span{
            font-size: 25px;
        }
    }

    .footer{
        overflow: hidden;
        transition: 0.5s all;

        &-img{
            transition: 0.5s all;
        }

        @include media-breakpoint-down(md){
            bottom: 40px;
            overflow: hidden;
            justify-content: end;

            &-img{
                width: 125px;
                margin-right: -77px;
            }
        }

        @include media-breakpoint-up(md){
            top: 44%;
            &-img{
                width: 94px;
                margin-left: 77%;
            }
        }

        @include media-breakpoint-up(md){
            &-img{
                margin-top: 8%;
            }
        }
    }
}

.about{
    h1{
        color: #404040;
    }

    .header{
        transition: .5s all;
        @include media-breakpoint-down(md){
            width: 100px;
            left: -76px;
        }

        @include media-breakpoint-up(md){
            width: 130px;
            left: -100px;
            margin-top: 14rem;
        }

         @include media-breakpoint-up(xl){
            width: 156px;
            left: -100px;
            margin-top: 22rem;
        }
    }

    p{
        font-size: 14px;
        transition: 0.5s all;

        @include media-breakpoint-up(lg) {
            font-size: 17px;
        }
    }
}

.numbers{
    padding-bottom: 7rem;

    .card{
        &-body{
            height: 254px;
            width: 254px;
            background-color: #1C86AF;
            transition: .5s all;

            &.nth-child{
                background-color: #136484;
            }

            @include media-breakpoint-up(lg){
                height: 210px;
                width: 210px;
            }
        }

        &-title{
            font-size: 40px;
            transition: .5s all;
        }

        &-text{
            font-size: 16px;
            transition: .5s all;
        }

        @include media-breakpoint-up(lg){
            &-title{
                font-size: 30px;
            }
        }
    }

    .footer{
        overflow: hidden;
        margin-top: -187px;

        &-img{
            width: 125px;
            margin-right: -77px;
        }

        @include media-breakpoint-up(xl){
            margin-top: -93px;
            &-img{
                position: absolute;
                width: 300px;
                right: -24px;
            }
        }
    }

    @include media-breakpoint-up(xl){
        padding-bottom: 8rem;
    }
}

footer{
    .bg{
        background-color: #1C86AF;
        z-index: -1;
        transition: .5s all;

        @include media-breakpoint-down(md){
            width: 100%;
            height: 750px;
        }

        @include media-breakpoint-up(md){
            width: 67%;
            height: 588px;
        }

        @include media-breakpoint-up(lg){
            height: 679px;
        }

        @include media-breakpoint-up(xl){
            // height: 100%;
        }
    }

    .img-fluid{
        transition: .5s all;
        @include media-breakpoint-down(md){
            margin-top: -50px;
        }

        @include media-breakpoint-up(md){
            margin-left: 4rem;
        }

        @include media-breakpoint-up(lg){
            margin-left: 8rem;
        }

        @include media-breakpoint-up(xl){
            width: 80%;
            margin-left: 16rem;
        }

    }

    .btn{
        background-color: #fff;
        color: #1C86AF;
        font: {
            size: 17px;
            weight: 600;
        }

        padding: 11px {
            left: 20px;
            right: 20px;
        }

        span{
            font-size: 25px;
        }
    }

    .footer{
        overflow: hidden;
        transition: .5s all;

        &-img{
            transition: .5s all;
        }

        @include media-breakpoint-down(md){
            height: 40px;
            &-img{
                margin: {
                    top: -106px;
                    left: -90px;
                }
            }
        }

        @include media-breakpoint-up(md){
            height: 70px;
            &-img{
                margin: {
                    top: -212px;
                    left: -233px;
                }
            }
        }

        @include media-breakpoint-up(lg){
            height: 110px;
            margin-top: 2px;
        }

        @include media-breakpoint-up(xxl){
            &-img{
                margin: {
                    left: -133px;
                }
            }
        }
    }
}
