.index{
    background: {
        image: url('/images/bg-index.png');
        repeat: no-repeat;
        size: cover;
    }

    min-height: 100vh;

    &-profissional, &-empresa{
        min-height: 43vh;

        @include media-breakpoint-down(lg) {
            a{
                background: #0c0c0c8a;
                border-radius: 33px;
                width: 90%;
                padding: 20px;
                z-index: 1;

                padding: {
                    top: 66px;
                    bottom: 55px;
                }
            }

            img{
                width: 50%;
            }
        }

        @include media-breakpoint-up(lg) {
            p{
                width: 80%;
            }
        }

        @include media-breakpoint-up(lg) {
            min-height: 30vh;
        }

    }

    &-profissional{
        strong{
            color: #D963A1;
        }

        @include media-breakpoint-up(lg) {
            border: {
                right: 3px solid #dee2e6;
            }
        }
    }


    &-empresa{
        strong{
            color: #13E3F2 !important;
        }
    }

    &-footer{
        transition: 0.5s all;
        overflow: hidden;

        bottom: -25px;
        left: -26px;

        img{
            width: 16vh;
        }

        @include media-breakpoint-up(lg) {
            bottom: -112px;
            left: -111px;

            img{
                width: 31vh;
            }
        }
    }

    hr{
        height: 2px !important;
        background: #dee2e6;
        opacity: 1;
        width: 85%;
    }

    @include media-breakpoint-down(lg) {
        background-position: 32%;
    }
}

.lgpd {
    font-family: "Poppins", Arial, sans-serif;
    p {
        font-size: 16px;
        line-height: 1.8;
        font-weight: 400;
        color: #999999;
    }
}
