*{
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden !important;
    font-family: 'Poppins', sans-serif;
}
.anim{
    transition: 300ms ease-in-out;
}
.anim:hover{
    transform: scale(1.10);
}
.video{
    border-radius: 20px;
    z-index: 10;
    border: solid 1px #B664D8;
    box-shadow: 1px 1px 8px #888888;
    cursor: pointer;
}
.nosso-app{
    background-image: linear-gradient(#B664D8, #EE609E);
    color: white;
}
.nossos-numeros{
    background-image: linear-gradient(#2F3A44, #414d5a);
    padding-top: 4%;
    padding-bottom: 4%;
    color: white;
}
.bg-main{
    background-image: url("../images/bg_land.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    background-color: #7955AB;
}
.title-main{
    color: white;
    font-size: 4rem;
    font-weight: bold;
    z-index: 10;
}
.perfil-photo{
    position: absolute;
    right: 5%;
    top: 40%;
    z-index: 0;
    width: auto;
    height: 80%;
}
.circle-land{
    position: absolute;
    right: -5%;
    top: -5%;
    z-index: 9;
    
}
.circle-land-2{
    position: absolute;
    left: -5%;
    top: 85%;
    z-index: 0;
    width: auto;
    height: 30%;
}
.circle-land-3{
    position: absolute;
    left: -5%;
    top: 200%;
    z-index: -1;
    width: auto;
    height: 20%;
}
.circle-land-4{
    position: absolute;
    left: -5%;
    top: 315%;
    z-index: 10;
    width: auto;
    height: 20%;
}
.arrow{
    font-size: 4rem;
    z-index: 20 !important;
}
.arrow-2{
    font-size: 6rem;
    z-index: 20 !important;
}
.ganhe-mais{
    font-weight: 200; 
    font-size: 2rem; 
    margin-top: 15%;
}

@media only screen and (max-width: 660px) {
    .title-main{
        font-size: 3rem;
    }
}

@media only screen and (max-width: 372px) {
    .title-main{
        font-size: 2rem;
    }
    .perfil-photo{
        right: 1%;
        top: 60%;
        height: 60%;
    }
}

@media only screen and (max-width: 768px) {
    .perfil-photo{
        right: 1%;
        top: 60%;
        height: 60%;
    }
    .circle-land{
        height: 15%;
    }
    .circle-land-2{
        left: -15%;
        height: 25%;
    }
    .arrow{
        font-size: 2rem;
    }
    .arrow-2{
        font-size: 4rem;
    }
    .ganhe-mais{
        margin-top: 40%;
    }
}

@media only screen and (max-width: 992px) {
    .perfil-photo{
        right: 1%;
        top: 60%;
        height: 60%;
    }
    .video{
        width: 80%; 
    }
}

@media only screen and (max-width: 375px) {
    .ganhe-mais{
        margin-top: 45%;
    }
    .video{
        width: 100%; 
    }
}

@media only screen and (max-width: 428px) {
    .title-main{
        font-size: 2rem;
    }
}

@media only screen and (max-height: 762px) {
    .title-main{
        font-size: 2rem;
    }
    .arrow{
        font-size: 2rem;
    }
    .arrow-2{
        font-size: 2.5rem;
    }
}
